*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 960px;
    margin-top: 4%;
    background: #f6f7f9;
}
img[alt="logo"]{
    width: 40px;
    height: 40px;
    margin: 5px 0 0 49px;
}
header{
    position:fixed;
    top:0;
    width: 100%;
    background: #f6f7f9;
    box-shadow: 2px 0 2px 2px #babbbd;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}
#navbar{
    list-style: none; 
    display: flex;

}
#navbar li{
    margin-left:20px; 
}
#navbar a{
    text-decoration: none;
    line-height: 50px;
    border: 1px solid #53CAE0;
    border-radius: 5px;
    padding: 5px 13px;
    text-transform: uppercase;
    color:#5997ca;
    font-size: 12px;
}
#navbar a:hover{
    background: #039BE6;
    color: #f6f7f9;
}
#container{
    width: 700px;
    height:100%;
    margin:0 auto;
    position: relative;
    box-shadow: 1px 1px 1px 0 #dddee0,-1px 0 1px 0 #dddee0;



}
#cover-photo img{
    width: 100%;
    height: 300px; 
}
.profile-pic{
    position: absolute;
    top:39%;
    left: 2%;
    z-index: 1;
}
.profile-pic img{
    width: 160px;
    height: 160px;
    border: 3px solid white;
    border-radius: 50%;
}
.interact{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.interact button{
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #53CAE0;
    color: #5997ca;
    background: white;
    padding: 7px 14px;
    font-size: 12px;
    line-height: 10px;
}
.interact :first-child{
    background: #039BE6;
    color: #f6f7f9;
}
.bio{
    position: relative;
    top: 14px;
    left: 160px;
    width: 200px
}
hr{
    margin-left:60px;
    width: 580px;
}
h1{
    font-size: 20px;
}
.location{
    font-size: 13px;
    color: #94A0A5;
}
.location::before{
    content: url('../imgs/location.png');

}
 .people{
    margin-bottom:20px; 
    font-size: 10px;
    color: #94A0A5;
}
b{
    color: black;
}
.people::before{
    content: url('../imgs/people.png');
}
.img-array{
    list-style: none;
    display: inline-flex;
    padding-left: 12px;
}
.img-array img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 3px solid white;
    margin-left: -14px;

}
.wrap{
    margin-top: 5%;
}
#info{
    margin: 20px;
}